/* src/components/LoginForm.css */
form {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
  
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-sizing: border-box;
}
  
button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    font-size: large;
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 42.8%;
}
  
button:hover {
    background-color: #45a049;
}

.LoginForm {
    margin: 0;
    background-color: aqua;
}

.LoginForm_title {
    font-size: 48px;
    line-height: 200%;
    font-weight: 900;
    margin: 0;
    text-align: center;
}
  